# Build artifacts (standalone in-place builds)

obj/
*.o
*.d
.depend

pax/pax

# Host-side test binaries (see tests/Makefile)
tests/*-tests
tests/*_debug

fvwm/libs/libfvwm.a
fvwm/fvwm/fvwm
fvwm/fvwm/fvwm_exec
fvwm/fvwm/fvwm.1
fvwm/utils/xpmroot
fvwm/modules/*/Fvwm*
fvwm/sample.fvwmrc/.fvwmrc
